<%= provide(:body_id, 'param-setting') %>
<%= provide(:result, '系统说明') %>

<div class="container-fluid content-wrapper">
  <div class="row-fluid">
    <div class="span12">
      <div class="hero-unit">
        <button type="button" class="close hidden-phone" data-dismiss="alert">&times;</button>
        <h1>修改登录密码</h1>

        <div class="row-fluid hidden-desktop hidden-phone">
          <div class="span12">
            <p>
              为了本系统及个人帐号的安全性，请及时修改登录密码。<br/>
            </p>
          </div>
        </div>
        <p></p>


        <p class="hidden-phone">
          <a class="btn btn-info btn-large pull-right">详细指南请猛击此处 &raquo;</a>
        </p>
      </div>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span12">
      <div class="row-fluid hidden-desktop hidden-phone">
        <div class="span12">
          <h4 class="title">修改登录密码</h4>

          <div class="squiggly-border"></div>
          <form class="well form-horizontal" action="p_modify" method="get">
            <fieldset>
              <legend class="align-center">请输入原始密码及新密码</legend>
              <div class="control-group offset2">
                <label class="control-label pull-right" for="o_pass">原始密码:</label>

                <div class="controls">
                  <%= text_field_tag :o_pass,nil,class: 'input-xlarge',type: 'password' %>*
                </div>
              </div>
              <div class="control-group offset2">
                <label class="control-label pull-right" for="n_pass">新的密码:</label>

                <div class="controls">
                  <%= text_field_tag :n_pass,nil,class: 'input-xlarge',type: 'password' %>(密码长度6-18)*
                </div>
              </div>
              <div class="control-group offset2">
                <label class="control-label pull-right" for="a_pass">密码确认:</label>

                <div class="controls">
                  <%= text_field_tag :a_pass,nil,class: 'input-xlarge',type: 'password' %>(密码长度6-18)*
                </div>
              </div>
              <button class="btn btn-large btn-info span4 offset4" type="submit">提 交</button>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span12">
      <h4 class="title">名言警句</h4>

      <div class="squiggly-border"></div>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12">
      <blockquote>
        <p>
          当一切似乎毫无希望时，我看着切石工人在他的石头上，敲击了上百次，而不见任何裂痕出现。
          但在第一百零一次时，石头被劈成两半。我体会到，并非那一击，而是前面的敲打使它裂开。
        </p>
        <small class="pull-right">贾柯·瑞斯</small>
      </blockquote>
    </div>
  </div>
</div>