<!DOCTYPE html>
<html>
<head>
  <title>出口质量感知评测系统</title>
  <%= stylesheet_link_tag 'application', :media => "all" %>
  <%= stylesheet_link_tag '/css/icon-style', :media => "all" %>
  <%= stylesheet_link_tag '/css/molle', :media => "all" %>
  <%= stylesheet_link_tag '/css/radmin', :media => "all" %>
  <%= stylesheet_link_tag '/css/radmin-plugins', :media => "all" %>
  <%= stylesheet_link_tag '/css/radmin-responsive', :media => "all" %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag '/javascripts/highcharts' %>
  <%= javascript_include_tag '/javascripts/exporting' %>
  <%= javascript_include_tag '/javascripts/gray' %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body id="body-<%= yield(:body_id) %>">
<%= render 'layouts/header' %>

<div class="container" style="width: 1200px">
  <div class="container-fluid main-container">
    <div class="row span12 offset1">
      <% flash.each do |key, value| %>
        <div class="row">
          <%= content_tag(:div, value, class: "alert alert-#{key}") %>
        </div>
      <% end %>
    </div>
    <div class="row-fluid">
      <div class="span12">

        <%= render 'layouts/navslide' %>
        <%= yield %>
        <div class="row-fluid">
          <div class="span12">&nbsp;</div>
        </div>
        <%= debug(params) if Rails.env.development? %>
      </div>
    </div>
  </div>
</div>

<%= render 'layouts/footer' %>
</body>
</html>
